[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sanic = "*"
tortoise-orm = "*"
httpx = "*"
sanic-openapi = "*"
python-dateutil = "*"

[dev-packages]
pdbpp = "*"

[requires]
python_version = "3.9"
